<main class="content-wrapper">
  <section class="envelope">
    <h1 class="gamma">Login</h1>

    <% if @user.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

        <ul>
          <% @user.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <%= form_tag( sessions_path) do %>
      <div class="input-group">
        <%= label(:email,'Email', class: "input-group__label" )  %>
        <%= text_field_tag(:email,nil, class: 'input-group__field', placeholder: "e.g. me@epfl.ch"  )%>
      </div>
      <div class="input-group">
        <%= label(:password,'Password', class: "input-group__label" )  %>
        <%= password_field_tag(:password, nil, class: 'input-group__field')%>
      </div>
      <div class="prompt">
        <%= submit_tag('Log in', class: "btn btn--primary prompt__confirm" )  %>
      </div>
    <% end %>
  </section>
</main>
