<main class="content-wrapper">
  <h1>My albums</h1>
  <div>
    <ul>
      <% @my_albums.each do |album|  %>
        <li>
          <div>
            <%= form_with(url: new_share_path, method: :get, local: true) do |form|  %>
              <div class="row">
            <h2 class="mr-5">Title: <%= album.title  %> </h2>
                <p class="mr-5"> Share with additional people </p>
                <%= hidden_field_tag("album_id", album.id)  %>
                <%= form.submit("Share album", class: "btn btn--primary")  %>
              </div>
            <% end %>
          </div>
          <div class="mt-5">
            <h3> This album is shared with the following users:</h3>
            <% album.shares.each do |share|  %>
              <p class="mt-4"><%= share.user.email  %> </p>
            <% end %>
          </div>
        </li>
      <% end %>
    </ul>
  </div>

  <div class="mt-5">
    <h1>Albums shared with me</h1>

    <ul>
      <% @shared_with_me.each do |album|  %>
        <li>

          <div class="row">
            <p class="mr-3"> <%= album.title  %> </p>
            <%= link_to("View", album_path(album), class: "btn btn--primary")  %>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</main>
