<h1>Shares#new</h1>
<h2> 
  Album title: <%= @album.title  %>
</h2>
<p>Who would you like to share <%= @album.title  %> with?</p>

<div>
  <div class="find-user">
    <%= form_with(url: new_share_path ,method: :get) do |form| %>
      <div class="field">
        <%= form.label :search %>
        <%= form.text_field :search %>
      </div>
      <%= hidden_field_tag "album_id", @album.id %>
      <div class="actions">
        <%= form.submit("Search for User") %>
      </div>
    <% end %>
  </div>

  <div class="results">
    <p> You searched for: </p>
    <%= @term  %> 
    <% if(@users.present?)%>
      <% @users.each do |user|  %> 
        <%= form_with(url: shares_path(@album.id, user.id)) do |form| %>
          <p> <%= user.username %> </p>
          <p> <%= user.email  %> </p>
          <%= hidden_field_tag "user_id", user.id %>
          <% byebug  %>        
          <%= form.submit("Add to album") %>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>

