<div class="content-wrapper">
  <%= link_to "To Shares", shares_path, class: "btn btn--primary btn__inline"  %>
  <%= link_to "To Albums", albums_path, class: "btn btn--primary btn__inline"  %>

  <h1 class="mt-5">Share your album</h1>
  <h2>
    Album title: <%= @album.title  %>
  </h2>

  <% if @share.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@share.errors.count, "error") %> prohibited this album from being saved:</h2>

      <ul>
        <% @share.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <div class="find-user">
      <%= form_with(url: new_share_path , method: :get) do |form| %>
        <div class="row mt-3">
          <h4 class="input-group mr-3">
            <%= label_tag :search, "Who would you like to share #{@album.title} with?", class: "input-group__label"%>
          </h4>
          <div class="input-group mr-3">
            <%= form.text_field :search, class: "input-group__field m-0 " %>
          </div>
          <%= hidden_field_tag "album_id", @album.id %>
          <div class="actions">
            <%= form.submit("Search for User", class: "btn btn--primary") %>
          </div>
        </div>
      <% end %>
    </div>

    <div id="results" class="results mt-5" >
      <div id="termDiv" class="row">
        <h3 class="mr-3"> You searched for: </h3> <span id="term"> <%= @term  %> </span>
      </div>
      <% if(@users.present?)%>
        <div id="headerDiv" class="three-column-grid mt-4">
          <h3>Username</h3>
          <h3>Email</h3>
          <h3>Action</h3>
        </div>
        <% @users.each do |user|  %>
            <div class="three-column-grid mt-3">
              <p class="mr-5"> <%= user.username %> </p>
              <p class="mr-5"> <%= user.email  %> </p>
              <%= link_to("Share #{@album.title} with #{user.username}", shares_path(user_id: user.id, album_id: @album.id) , method: :post, class: "btn btn--primary" )  %>
            </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
