<button type="button" class="collapsible" data-target="collapsible.button" data-action="click->collapsible#toggle">Open <%= name.pluralize.capitalize %> </button>
<div id="<%= name.tr(" ", "-")  %>" class="filter-panel ml-4" data-controller="filterable" >
  <input id="input-<%= name  %>" data-target="filterable.source"
              data-action="input->filterable#filter"
              type="text"
              class="filter"
              placeholder="Filter checkboxes" />
  <% area.each do |a|   %>
    <div class="row mt-3 end" data-target="filterable.filterable"
                              data-filter-key="<%= a.downcase  %>"
      >
      <%= form.label(a, a)  %>
      <%= form.check_box("#{name}[#{a}]", value: a)  %>
    </div>
  <% end %>
</div>
