<button type="button" class="collapsible" data-target="collapsible.button" data-action="click->collapsible#toggle">Open <%= name %> </button>
<div id="<%= name.tr(" ", "-")  %>" class="filter-panel ml-4" >
    <div class="column mt-3 ">

      <%= form.label("Start Date", "Start Date", class: "gamma mb-1")  %>
      <%= date_select("start-date", "start-date", start_year: 2010, prompt: true)  %>
    </div>

    <div class="column mt-3 ">
      <%= form.label("End Date", "End Date", class: "gamma mb-1")  %>
      <%= date_select("end-date", "end-date", start_year: 2010, prompt: true)  %>
    </div>
</div>
