<div id="modal" class="modal" data-controller="modal">
</div>
<div class="map-container mt-3">
  <%= form_with(url: maps_path, method: :get, local: true, class: "column filter-form") do |form|  %>

    <div class="filters" data-controller="collapsible">
      <%= render partial: "date_controls", locals: {name: "Day of year", form: form}  %>
      <%= render partial: "date_range_controls", locals: {name: "Date range", form: form}  %>
      <%= render partial: "area_checkboxes", locals: {area: @cities, name: "city", form: form}  %>
      <%= render partial: "area_checkboxes", locals: {area: @states, name: "state", form: form}  %>
      <%= render partial: "area_checkboxes", locals: {area: @countries, name: "country", form: form}  %>
      <%= render partial: "albums_checkboxes", locals: {albums: @albums, name: "My albums", form: form}  %>
      <%= render partial: "albums_checkboxes", locals: {albums: @shared_albums, name: "Shared albums", form: form}  %>

      <%= form.submit("Filter", class: "btn btn--primary mt-3")  %>
    </div>
  <% end %>

  <div id="map" data-controller="map">refresh page to view map</div>
</div>

<div id="#my-slider" class="tartist-tiny-slider-wrap" >
  <div class="tartist-tiny-slider" data-chunksize="6">
    <% if @photos.present?  %>
    <% @photos.each do |photo|  %>
      <div class="tartist-tiny-slider__item column" data-controller="map" data-map-id="<%=  photo.id  %>" data-action="click->map#center">
        <%= image_tag(photo.image.variant(resize: '200x200'), class: "tns-lazy-img", data: { src: rails_representation_url(photo.image.variant(resize: '200x200')) }) if photo.image.attached? %>
        <%= link_to "Show details", photo_path(photo), class: "btn btn--secondary btn--img__small "  %>
      </div>
    <% end %>
  <% else  %>
    <p class="warning"> No results</p>
  <% end %>
  </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.2/min/tiny-slider.js"></script>

<script>
  let numItems = Math.floor( window.innerWidth/ 200)
  let slider = tns({
    container: ".tartist-tiny-slider",
    items: numItems,
    slideBy: "page",
    autoplayButtonOutput: false,
    loop: true,
    controls: true,
    navPosition: "bottom",
    lazyload: true,
    nav: true,
  });
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=<%= Rails.application.credentials.maps_api_key  %>&callback=initMap&libraries=&v=weekly" defer ></script>

<script>
  var map;
  function initMap(){
    let latitude = 0
    let longitude = 0
      <% if @photos.present?  %>
        latitude =  <%= @photos.first.latitude_in_decimal %>
    longitude  =  <%= @photos.first.longitude_in_decimal %>
  <% end %>
      map = new google.maps.Map(document.getElementById('map'), {
        center: { lat: latitude , lng: longitude  },
        zoom: 14,
      })
  }

  var MapData = { }

  MapData.getData = function(){
    let output = []
      <% @photos.each_with_index do |photo, index|  %>

        var item = {
          lat: <%= photo.latitude_in_decimal  %>,
          long: <%= photo.longitude_in_decimal  %>,
          img_sm: '<%= rails_representation_url(photo.image.variant(resize: '200x200'), disposition: "attachment", only_path: true)   %>',
          img_lg: '<%= url_for(photo.image) %>',
          id: <%= photo.id  %>
      }
    output.push(item)

    <% end %>
      return output
  }
  MapData.getMap = function(){
    return map}

  window.MapData = MapData
</script>
