<%# <%= debug(params)  %1> %>
<div class="row mt-3">
  <%= form_with(url: maps_path, method: :get, local: true, class: "column filter-form") do |form|  %>

    <%= render partial: "area_checkboxes", locals: {area: @suburbs, name: "suburb", form: form}  %>

    <button type="button" class="collapsible">Open Villages</button>
    <div id="village" class="filter-panel ml-4">
      <% @villages.each do |village|   %>
        <div class="row mt-3 end">
          <%= form.label(village, village)  %>
          <%= form.check_box("village[#{village}]", value: village)  %>
        </div>
      <% end %>
    </div>

    <button type="button" class="collapsible">Open Cities</button>
    <div id="cities" class="filter-panel ml-4">
      <% @cities.each do |city|   %>
        <div class="row mt-3 end">
          <%= form.label(city, city)  %>
          <%= form.check_box("city[#{city}]", value: city)  %>
        </div>
      <% end %>
    </div>


    <button type="button" class="collapsible">Open State</button>
    <div id="states" class="filter-panel ml-4">
      <% @states.each do |state|   %>
        <div class="row mt-3 end">
          <%= form.label(state, state)  %>
          <%= form.check_box("state[#{state}]", value: state)  %>
        </div>
      <% end %>
    </div>


    <button type="button" class="collapsible">Open Country</button>
    <div id="countries" class="filter-panel ml-4">
      <% @countries.each do |country|   %>
        <div class="row mt-3 end">
          <%= form.label(country, country)  %>
          <%= form.check_box("country[#{country}]", value: country)  %>
        </div>
      <% end %>
    </div>

    <%= form.submit("Filter", class: "btn btn--primary mt-3")  %>
  <% end %>

  <div id="map" >Please <%= link_to('upload', new_photo_path)  %> some photos to get started</div>
</div>

<div class="content-wrapper">
  <ul class="row">
    <% if @photos.present?  %>
      <% @photos.each do |photo|  %>
        <li>
          <%= link_to photo_path(photo) do  %>
            <%= image_tag(photo.image.variant(resize: '300x300')) if photo.image.attached? %>
          <% end %>
        </li>
      <% end %>
    <% end %>

  </ul>
</div>

<script>
  document.addEventListener("turbolinks:load", function(){
    map = document.getElementById("map");
    if(map != null){
      initMap();
    }

    var coll = document.getElementsByClassName("collapsible");
    var i;

    for (i = 0; i < coll.length; i++) {
      coll[i].addEventListener("click", function() {
        this.classList.toggle("active");
        var content = this.nextElementSibling;
        if (content.style.display === "block") {
          content.style.display = "none";
          let title = this.textContent.split(" ")
          this.textContent= `Open ${title[1]}`
          console.log(this.textContent)
        } else {
          content.style.display = "block";
          let title = this.textContent.split(" ")
          this.textContent= `Close ${title[1]}`
          console.log(this)
          console.log(this.textContent)
        }
      });
    }
  });

  function initMap() {
    <% if @photos.size >0  %>
        map = new google.maps.Map(document.getElementById("map"), {
          center: { lat: <%= @photos.first.latitude_in_decimal  %> , lng: <%= @photos.first.longitude_in_decimal  %>  },
          zoom: 12
        });
    addMarkers();
  <% end %>
  }

  function addMarkers(latitude, longitude){
    <% @photos.each do |photo|  %>
        <% unless photo.latitude_in_decimal == 0 && photo.longitude_in_decimal == 0  %>
        var index = 0
    var image = {
      url: '<%= rails_representation_url(photo.image.variant(resize: '200x200'), disposition: "attachment", only_path: true) %>' ,
      origin: new google.maps.Point(0,0),
      anchor: new google.maps.Point(0,32)
    };

    var shape = {
      coords: [1, 1, 1, 20, 18, 20, 18, 1],
      type: 'poly'
    };

    var marker = new google.maps.Marker({
      position: {lat: <%= photo.latitude_in_decimal %> , lng: <%= photo.longitude_in_decimal  %> },
      map: map,
      icon: image,
      shape: shape,
      zIndex: index
    });
    index = index +1;

  <% end %>
    <% end %>
  }

</script>
