<div class="row mt-3">
  <%= form_with(url: maps_path, method: :get, local: true, class: "column filter-form") do |form|  %>

    <div data-controller="collapsible">
      <%= render partial: "area_checkboxes", locals: {area: @suburbs, name: "suburb", form: form}  %>
      <%= render partial: "area_checkboxes", locals: {area: @villages, name: "village", form: form}  %>
      <%= render partial: "area_checkboxes", locals: {area: @cities, name: "city", form: form}  %>
      <%= render partial: "area_checkboxes", locals: {area: @states, name: "state", form: form}  %>
      <%= render partial: "area_checkboxes", locals: {area: @countries, name: "country", form: form}  %>
      <%= render partial: "albums_checkboxes", locals: {albums: @albums, name: "my albums", form: form}  %>
      <%= render partial: "albums_checkboxes", locals: {albums: @shared_albums, name: "albums shared with me", form: form}  %>

      <%= form.submit("Filter", class: "btn btn--primary mt-3")  %>
    </div>
  <% end %>

  <div id="map" data-controller="map">refresh page to view map</div>
</div>

<ul class="row">
  <% if @photos.present?  %>
    <% @photos.each do |photo|  %>
      <li data-controller="map" data-map-latitude="<%= photo.latitude_in_decimal  %>" data-map-longitude="<%= photo.longitude_in_decimal  %>" data-action="click->map#center">
        <%= image_tag(photo.image.variant(resize: '300x300')) if photo.image.attached? %>
        <%= link_to "View", photo_path(photo)  %>
      </li>
    <% end %>
  <% end %>

</ul>


<script src="https://maps.googleapis.com/maps/api/js?key=<%= Rails.application.credentials.maps_api_key  %>&callback=initMap&libraries=&v=weekly" defer ></script>

<script>
  var map;
  function initMap(){
    map = new google.maps.Map(document.getElementById('map'), {
      center: { lat: <%= @photos.first.latitude_in_decimal  %> , lng: <%= @photos.first.longitude_in_decimal  %>  },
      zoom: 12,
    })
  }

  var MapData = { }

  MapData.getData = function(){
    let output = []
      <% @photos.each_with_index do |photo, index|  %>

        var item = {
          lat: <%= photo.latitude_in_decimal  %>,
          long: <%= photo.longitude_in_decimal  %>,
          url: '<%= rails_representation_url(photo.image.variant(resize: '200x200'), disposition: "attachment", only_path: true)   %>',
          index: <%= index  %>
        }
    output.push(item)

    <% end %>
      return output
  }
  MapData.getMap = function(){
    return map}

  window.MapData = MapData
</script>
