<main class="content-wrapper">
  <h1>User details</h1>
  <p id="notice"><%= notice %></p>

  <div class="input-group">
    <%= image_tag(@user.avatar.variant(resize: '300x300')) if @user.avatar.attached? %>
  </div>

  <div class="row mt-5">
    <h2 class="mr-3 ">Username:</h2>
    <%= @user.username %>
  </div>

  <div class="row mt-4">
    <h2 class="mr-3">First name:</h2>
    <%= @user.first_name %>
  </div>

  <div class="row mt-4">
    <h2 class="mr-3">Last name:</h2>
    <%= @user.last_name %>
  </div>

  <% if(current_user == @user)  %>
    <div class="row mt-4">
      <h2 class="mr-3">Email:</h2>
      <%= @user.email %>
    </div>

    <%= link_to 'Edit', edit_user_path(@user), class: "btn btn--primary max-content mt-5" %>
  <% end %>


  <h2 class="mt-5">Public Albums</h2>

  <ul id="albumList" >
    <% @albums.each do |album| %>
      <li id="album-<%= album.id  %>" class="row mt-2">
        <h3><%= link_to album.title, album, class: "btn mr-1" %></h3>
        <%= render(partial: "show_album_btn", locals: {album: album})  %>
        <%= render(partial: "to_map_btn", locals: {album: album})  %>
        <%= render(partial: "make_public_btn", locals: {album: album})  %>
      </li>
    <% end %>
  </ul>
</main>
