<main class="content-wrapper">
  <div class="envelope">
    <h1> <%= t('.heading')  %> </h1>
    <p> <%= t('.message')  %> </p>
    <p> <%= t('.prompt')  %> </p>
    <div class="row mt-3">

      <div>
        <%= link_to t('sign_up'), new_user_path, class: "btn btn--primary mr-3 welcome"  %>
      </div>

      <div class="ml-3 mr-3"> <%= t('photos.new.or')  %> </div>
      <div>
        <%= link_to t('login'), new_session_path , class: "btn btn--primary welcome " %>
      </div>
    </div>
    <div class="mt-5">
      <p class="mb-3"> <%= t('.option')  %> </p>
      <%= link_to t('map'), maps_path, class: "btn btn--primary max-content", data: {turbolinks: 'false'}  %>
    </div>
  </div>
</main>
