<div id="modal" class="modal" data-controller="modal">
</div>

<div class="content-wrapper">
  <div class="album-nav row">
    <%= render(partial: "to_albums_btn")  %>
    <%= render(partial: "to_shares_btn")  %>
    <%= render(partial: "to_map_btn", locals: {album: @album})  %>
    <%= render(partial: "make_public_btn", locals: {album: @album})  %>
  </div>

  <h1 class="mt-3">Title: <span> <%= @album.title  %> </span> </h1>
  <div class="photos">
    <div class="gallery">
      <% @album.photos.each do |photo|   %>
        <div id="id-<%= photo.id  %>" class="photo-deletable">
          <%= render(partial: "photo_img", locals: {photo: photo})  %>
          <div class="row">
            <%= render(partial: "show_photo_btn", locals: {photo: photo})  %>
            <%= render(partial: "remove_album_btn", locals: {album: @album, photo: photo})  %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
