<div id="modal" class="modal" data-controller="modal"> </div>

<div class="content-wrapper">
  <div class="row">
    <%= link_to "Show Photos", photos_path, class: "btn btn--primary mr-1" , title: "View your photos" %>
  </div>
  <div class="row">
    <h1 class="p-2"> Delete <%= Photo.model_name.human(count: 2) %> (<span id="count"><%= current_user.photos.count  %></span>)</h1>
  </div>
  <%= form_with(url: photo_path(1), method: :delete, local: true) do |form| %>
    <%= render(partial: "flash_messages")  %>
    <div class="row" data-controller="checkbox">
      <%= button_tag 'Select All', id: 'select-all', type: 'button' , class: "btn btn--secondary", data: {action: "click->checkbox#selectAll"} %>
      <%= button_tag 'Select None', id: 'select-none', type: 'button',class: "btn btn--secondary", data: {action: "click->checkbox#selectNone"}   %>
      <%= form.submit("Delete selected photos", class: "btn btn--warning ml-5") %>
    </div>
    <% if @pagy.last>1 %>
      <%== pagy_nav(@pagy) %>
    <% end %>

    <div class="gallery">
      <% @photos.each do |photo|   %>
        <%= render(partial: "photo_selector_card", locals: {photo: photo})  %>
      <% end %>
    </div>

    <% if @pagy.last>1 %>
      <%== pagy_nav(@pagy) %>
    <% end %>
  <% end %>
</div>
