<div id="modal" class="modal" data-controller="modal"> </div>

<div class="content-wrapper">

  <div class="row">
  <%= link_to t("global.buttons.to_delete_photo"), photos_delete_path, class: "btn btn--primary mr-1" , title: t("global.buttons.delete_photos")%>
  </div>

  <h1> <%= Photo.model_name.human(count: 2) %> (<span id="count"><%= current_user.photos.count  %></span>)</h1>

  <%= render(partial: "flash_messages")  %>
  <% if @pagy.last>1 %>
  <%== pagy_nav(@pagy) %>
<% end %>

  <div class="gallery">
    <% @photos.each do |photo|   %>
      <%= render(partial: "editable_photo_card", locals: {photo: photo})  %>
    <% end %>
  </div>

  <% if @pagy.last>1 %>
  <%== pagy_nav(@pagy) %>
<% end %>
</div>
