<main class="content-wrapper">
  <h1>Upload Photos</h1>

  <%= render(partial: "error_messages", locals: {model: @photo})  %>
  <p>You can upload <%= @uploads_remaining  %> more photos</p>
  <% if(@uploads_remaining > 0 )  %>
  <p>Drag and drop photos here</p>
  <p>or</p>

  <%= form_with(model: @photo, class: "mt-3", local: true) do |form|  %>
      <%= form.file_field :image, class: 'input-group__file' %>
      <%= form.submit class: 'btn btn--primary' %>
  <% end %>
<% end %>
</main>
