<main class="content-wrapper">
  <h1> <%= t('.upload_title')  %> </h1>

  <%= render(partial: "error_messages", locals: {model: @photo})  %>
  <%= render(partial: "flash_messages")  %>

  <div id="upload-controls">
    <p id="uploads-remaining"> <%= "#{t('.description_start')} #{@uploads_remaining} #{t('.description_end')}"  %> </p>
    <% if(@uploads_remaining > 0 )  %>
      <p> <%= t('.instructions')  %> </p>

      <%= form_with(url: photos_path, class: "mt-3") do |form|  %>
        <div class="field">
          <div class="dropzone" data-controller='dropzone'>
            <%= form.file_field :image, multiple: true, direct_upload: true, id: 'droparea', class: 'input-group__file', data: {target: 'dropzone.input'} %>
          <%= form.file_field :image, multiple: true, direct_upload: true, id: "file-select", class: 'input-group__file' %>
          </div>
        </div>
        <%= form.submit t('.upload_title'), id: 'upload', class: 'btn btn--primary ' %>
      <% end %>
    <% end %>
  </div>
  <div id="upload-in-progress" class="hidden">Location information will be parsed.  Please allow one second per photo uploaded</div>
  <div id="result" class="hidden">
    <p id="message" class="mt-3">Images uploaded.  Address information will continue to process in the background.  If latitude and longitude show up as "0", then no address information is embedded in the image.</p>
    <div id="status" class="mt-3">
      <%= link_to "View Photos", photos_path, class: "btn btn--secondary max-content mt-3 "  %>
      <%= link_to "Upload More", new_photo_path, class: "btn btn--primary max-content mt-3 "  %>
    </div>
  </div>
</main>
<%= javascript_pack_tag 'direct_uploads'  %>
