<div class="container mx-auto text-center" style="width: 300px;">
  <h1>Upload Photos</h1>

  <p>You can upload 100 more photos</p>
  <p>Drag and drop photos here</p>
  <p>or</p>

  <%  if @photo.errors.any?  %>
    <div class="error_explanations">
      <h2> <%= pluralize(@photo.errors.count, "error")%> prohibited this photo from being saved   </h2>
    </div>
    <ul>
      <%= @photo.errors.full_messages.each do |message|  %>
        <li> <%= message  %> </li>
      <% end %>
    </ul>
  <% end %>

  <%= form_with(model: @photo) do |form|  %>
    <%= form.label :image  %>
    <%= form.file_field :image %>
    <%= form.submit  %>
  <% end %>

</div>
