<div id="modal" class="modal" data-controller="modal"> </div>

<main class="content-wrapper">
  <div class="media">
    <div class="media__figure" data-controller="modal" data-modal-id="<%= @photo.id  %>" data-modal-url="<%= url_for(@photo.image)  %>" data-action="click->modal#showModal">
      <%= image_tag( @photo.image) if @photo.image.attached?  %>
    </div>
    <div class="media__body">
      <div class="details">
        <%= image_tag(@photo.user.avatar.variant(resize: '100x100'), class: "avatar end") if @photo.user.avatar.attached? %>
        <div class="details__intro">
          <p> <span class="beta"> <%= t('.upload_by')  %> </span> <span class="alpha"><%= link_to(@photo.user.username,  user_path(@photo.user))  %></span> </p>
          <p> <span class="beta"> <%= Photo.human_attribute_name(:file_name)  %>: </span>  <%= @photo.file_name  %> </p>
          <p> <span class="beta">: </span> <%= @photo.date_time_digitized  %> </p>
          <p> <span class="beta"> <%= Photo.human_attribute_name(:latitude_in_degrees)  %>: </span>  <%= @photo.latitude_in_degrees  %> </p>
          <p> <span class="beta"> <%= Photo.human_attribute_name(:longitude_in_degrees)  %>: </span> <%= @photo.longitude_in_degrees  %> </p>
          <p> <span class="beta"> <%= Photo.human_attribute_name(:longitude_in_decimal)  %>: </span> <%= @photo.latitude_in_decimal %> </p>
          <p> <span class="beta"> <%= Photo.human_attribute_name(:longitude_in_decimal)  %>: </span> <%= @photo.longitude_in_decimal %> </p>
          <p> <span class="beta"> <%= Photo.human_attribute_name(:city)  %>: </span> <%= @photo.city %> </p>
          <p> <span class="beta"> <%= Photo.human_attribute_name(:state)  %>: </span> <%= @photo.state %> </p>
          <p> <span class="beta"> <%= Photo.human_attribute_name(:country)  %>: </span>  <%= @photo.country %> </p>
          <p>
          <%= render partial: "to_map_with_photo_id", locals: {photo: @photo}  %>
          </p>
          <p> <a href="https://www.google.com/maps/search/?api=1&query=<%= @photo.latitude_in_decimal  %>,<%= @photo.longitude_in_decimal  %>" target="blank"> <%= t('.directions')  %> </a></p>
        </div>
        <div class="details__meta">
          <span> <%= t('.uploaded_on')  %> <time datetime="<%= @photo.created_at.strftime("%d %b '%y")  %>"><%= @photo.created_at.strftime("%d %b '%y")  %></time></span>
          <span id="comment-count-1"><%= @comments.count  %> <%= t('.comment').pluralize(@comments.count) %></span>
        </div>
      </div>
    </div>
  </div>
  </div>
  <div class="content-wrapper">
    <div class="comments">
      <div class="comments_title row mb-5">
        <h2 class="mr-3"> <%= t('.discussion')  %> </h2>
        <span id="comment-count-2">
          <%= @comments.count  %> <%= t('.comment').pluralize(@comments.count) %>
        </span>
      </div>
      <%= render partial: "comments_panel", locals: {commentable: @photo, comments: @comments}  %>
      <% if  logged_in?  %>
        <%= render partial: "comment_form", locals: {commentable: @photo, comment: @comment} %>
      <% end %>
    </div>
</main>
