<div id="modal" class="modal" data-controller="modal"> </div>

<main class="content-wrapper">
  <div class="media">
    <div class="media__figure" data-controller="modal" data-modal-id="<%= @photo.id  %>" data-modal-url="<%= url_for(@photo.image)  %>" data-action="click->modal#showModal">
      <%= image_tag( @photo.image) if @photo.image.attached?  %>
    </div>
    <div class="media__body">
      <div class="details">
        <%= image_tag(@photo.user.avatar.variant(resize: '200x200'), class: "avatar") if @photo.user.avatar.attached? %>
        <div class="details__intro">
          <p> <span class="beta">Photo uploaded by: </span> <span class="alpha"><%= link_to(@photo.user.username,  user_path(@photo.user))  %></span> </p>
          <p> <span class="beta">File name: </span>  <%= @photo.file_name  %> </p>
          <p> <span class="beta">Date taken: </span> <%= @photo.date_time_digitized  %> </p>
          <p> <span class="beta">Latitude in degrees: </span>  <%= @photo.latitude_in_degrees  %> </p>
          <p> <span class="beta">Longitude in degrees: </span> <%= @photo.longitude_in_degrees  %> </p>
          <p> <span class="beta">Latitude in decimal: </span> <%= @photo.latitude_in_decimal %> </p>
          <p> <span class="beta">Longitude in decimal: </span> <%= @photo.longitude_in_decimal %> </p>
          <p> <span class="beta">City: </span> <%= @photo.city %> </p>
          <p> <span class="beta">State: </span> <%= @photo.state %> </p>
          <p> <span class="beta">Country: </span>  <%= @photo.country %> </p>
          <p> <a href="https://www.google.com/maps/search/?api=1&query=<%= @photo.latitude_in_decimal  %>,<%= @photo.longitude_in_decimal  %>" target="blank">Get directions</a></p>
        </div>
        <div class="details__meta">
          <span>Uploaded on <time datetime="<%= @photo.created_at.strftime("%d %b '%y")  %>"><%= @photo.created_at.strftime("%d %b '%y")  %></time></span>
          <span id="comment-count-1"><%= @comments.count  %> <%= "comment".pluralize(@comments.count) %></span>
        </div>
      </div>
    </div>
  </div>
  </div>
  <div class="content-wrapper">
    <div class="comments">
      <div class="comments_title row mb-5">
        <h2 class="mr-3">Discussion</h2>
        <span id="comment-count-2">
          <%= @comments.count  %> <%= "comment".pluralize(@comments.count) %>
        </span>
      </div>
      <%= render partial: "comments_panel", locals: {commentable: @photo, comments: @comments}  %>
      <% if  logged_in?  %>
        <%= render partial: "comment_form", locals: {commentable: @photo, comment: @comment} %>
      <% end %>
    </div>
</main>
