<ul id="albumList" class="albums" >
  <% albums.each do |album| %>
    <li id="album-<%= album.id  %>" class="albums__item mt-3">
      <h3><%= link_to album.title, album, class: "btn mr-1" %></h3>
      <%= render(partial: "show_album_btn", locals: {album: album})  %>
      <%= render(partial: "share_album_btn", locals: {album: album})  %>
      <%= render(partial: "delete_album_btn", locals: {album: album})  %>
      <%= render(partial: "make_public_btn", locals: {album: album})  %>
    </li>
  <% end %>
</ul>
