<nav class="global-nav" >
  <%= link_to "Instant Nostalgia", maps_path  , class: "logo" , data: {turbolinks: false}%>
  <ul class="nav-items" >
    <li class="nav-item">
      <%= link_to t('global.welcome'), root_path, class: "nav-link"  %>
    </li>
    <li class="nav-item">
      <%= link_to t('map'), maps_path, class: "nav-link ", data: {turbolinks: 'false'}  %>
    </li>
    <li class="nav-item">
      <%= link_to t('public_albums'), public_albums_path, class: "nav-link "  %>
    </li>
    <li class="nav-item">
      <%= link_to t('sign_up'), new_user_path , class: "nav-link" %>
    </li>
    <li class="nav-item">
      <%= link_to t('login'), new_session_path , class: "nav-link" %>
    </li>
  </ul>

  <div class="burger">
    <div class="line1"></div>
    <div class="line2"></div>
    <div class="line3"></div>
  </div>
</nav>
