<nav class="global-nav">
  <%= link_to "Instant Nostalgia", maps_path  , class: "logo" , data: {turbolinks: false}%>
  <ul class="nav-items" >
    <li class="nav-item">
      <%= link_to t('map'), maps_path, class: "nav-link ", data: {turbolinks: 'false'}  %>
    </li>
    <li class="nav-item">
      <%= link_to Photo.model_name.human(count: 2), photos_path, class: "nav-link "  %>
    </li>
    <li class="nav-item">
      <%= link_to t('global.albums'), albums_path, class: "nav-link "  %>
    </li>
    <li class="nav-item">
      <%= link_to t('public_albums'), public_albums_path, class: "nav-link "  %>
    </li>
    <li class="nav-item">
      <%= link_to t('shared'), shares_path, class: "nav-link "  %>
    </li>
    <li class="nav-item">
      <%= link_to t('upload'), new_photo_path, class: "nav-link"  %>
    </li>
    <li class="nav-item">
      <%= link_to t('profile'), user_path(current_user), class: "nav-link"  %>
    </li>
    <li class="nav-item">
      <%= link_to t('logout'), session_path(0), method: :delete , class: "nav-link" %>
    </li>
  </ul>
  <div class="burger">
    <div class="line1"></div>
    <div class="line2"></div>
    <div class="line3"></div>
  </div>
</nav>
