<nav >
  <div class="logo">Instant Nostalgia</div>
  <ul class="nav-items" >
    <li class="nav-item">
      <%= link_to t('map'), photos_path, class: "nav-link "  %>
    </li>
    <li class="nav-item">
      <%= link_to t('albums'), albums_path, class: "nav-link "  %>
    </li>
    <li class="nav-item">
      <%= link_to t('shared'), shares_path, class: "nav-link "  %>
    </li>
    <li class="nav-item">
      <%= link_to t('upload'), new_photo_path, class: "nav-link"  %>
    </li>
    <li class="nav-item">
      <%= link_to t('logout'), session_path(0), method: :delete , class: "nav-link" %>
    </li>
  </ul>
  <div class="burger">
    <div class="line1"></div>
    <div class="line2"></div>
    <div class="line3"></div>
  </div>
</nav>
