<p id="notice"><%= notice %></p>
<%= form_for([commentable, comment], remote: true) do |form| %>

  <div class="field">
    <%= form.label(:body, t('.add'), class: 'input-group__label') %>
    <%= form.rich_text_area(:body, class: 'input-group__field', rows: 10) %>
  </div>

  <%= form.submit(t('.submit'))%>
<% end %>
