<div id="id-<%= photo.id  %>" class="photo-deletable">
  <div data-controller="modal" data-modal-id="<%= photo.id  %>" data-modal-url="<%= url_for(photo.image)  %>" data-action="click->modal#showModal">
    <%= render(partial: "photo_img", locals: {photo: photo})  %>
  </div>

  <div class="photo-deletable__controls mt-3">
    <%= render(partial: "show_photo_btn", locals: {photo: photo})  %>
    <%= render partial: "to_map_with_photo_id", locals: {photo: photo}  %>
    <%= render(partial: "delete_photo_btn", locals: {photo: photo})  %>
  </div>
</div>
