<main class="content-wrapper">
  <h1>Public Albums</h1>

  <ul id="albumList" >
    <% @albums.each do |album| %>
      <li id="album-<%= album.id  %>" class="column end mt-2">
        <div class="row">
          <div class="row">
            <%= render(partial: "show_album_btn", locals: {album: album})  %>
            <%= render(partial: "to_map_btn", locals: {album: album})  %>
          </div>
          <%= render(partial: "to_profile_btn", locals: {user: album.user})  %>
          <h3><%= link_to album.title, album, class: "btn mr-1" %></h3>
          <%= render(partial: "make_public_btn", locals: {album: album})  %>
        </div>
        <div class="row end">
        </div>
      </li>
    <% end %>
  </ul>
</main>
