<!DOCTYPE html>
<html>
  <head>
    <title>CapstoneProjectWadC5S4750</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'albums'  %>
    <%= javascript_pack_tag 'comments'  %>
    <%= javascript_pack_tag 'shares'  %>
    <%= javascript_pack_tag 'helpers'  %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.3/tiny-slider.css">
<!--[if (lt IE 9)]><script src="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.3/min/tiny-slider.helper.ie8.js"></script><![endif]-->
  </head>

  <body>
    <header>
      <% if logged_in?  %>
        <%= render(partial: "authenticated_user_header") %>
      <% else  %>
        <%= render(partial: "anonymous_user_header") %>
      <% end %>
      <label for="nav-toggle" class="nav-toggle-label">
        <span></span>
      </label>
    </header>

    <%= yield %>

    <% I18n.available_locales.each do |locale| %>
      <%= link_to locale, url_for(locale: locale) %>
    <% end %>
  </body>
</html>
