<!DOCTYPE html>
<html>
  <head>
    <title>CapstoneProjectWadC5S4750</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%# <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script> %>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDOKYnV1ICIa4zYFItn5WS9pXN2I6ECRXw&callback=initMap&libraries=&v=weekly" defer ></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
  </head>

  <body>
    <header>
      <% if logged_in?  %>
        <%= render(partial: "authenticated_user_header") %>
      <% else  %>
        <%= render(partial: "anonymous_user_header") %>
      <% end %>
      <label for="nav-toggle" class="nav-toggle-label">
        <span></span>
      </label>
    </header>

    <%= yield %>

    <% I18n.available_locales.each do |locale| %>
      <%= link_to locale, url_for(locale: locale) %>
    <% end %>
  </body>
</html>
